In [2]:
import pandas as pd

In [4]:
Pp15_16 = pd.read_json('../meteo/Pont2015-2016.json')

In [ ]:
Pp15_16.to_csv('../meteo/Pont2015-2016.csv')

,Estación,Variable,Unidad,Código,Fecha,Valor,Código de validación
0,Monte Aloia,Horas de frío ( <=7ºC),h,HFRIO_RECUENTO_1.5m,28/03/2015,0.00,1
1,Monte Aloia,Temperatura de orballo a 1.5m,ºC,TO_AVG_1.5m,28/03/2015,8.45,1
2,Monte Aloia,Temperatura máxima a 1.5m,ºC,TA_MAX_1.5m,28/03/2015,13.19,1
3,Monte Aloia,Temperatura media a 1.5m,ºC,TA_AVG_1.5m,28/03/2015,9.11,1
4,Monte Aloia,Temperatura mínima a 1.5m,ºC,TA_MIN_1.5m,28/03/2015,7.34,1
...,...,...,...,...,...,...,...
77867,Ponte Caldelas,Temperatura de orballo a 1.5m,ºC,TO_AVG_1.5m,28/03/2016,9.25,1
77868,Ponte Caldelas,Temperatura máxima a 1.5m,ºC,TA_MAX_1.5m,28/03/2016,11.57,1
77869,Ponte Caldelas,Temperatura media a 0.1m,ºC,TA_AVG_0.1m,28/03/2016,10.96,1
77870,Ponte Caldelas,Temperatura media a 1.5m,ºC,TA_AVG_1.5m,28/03/2016,10.58,1
77871,Ponte Caldelas,Temperatura mínima a 1.5m,ºC,TA_MIN_1.5m,28/03/2016,9.25,1