In [2]:
import pandas as pd

In [19]:

df = pd.DataFrame()

df = pd.read_excel("LibroAlcaldes.xlsx", skiprows=5, sheet_name=2)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,COMUNIDAD AUTÓNOMA,PROVINCIA,MUNICIPIO,CÓDIGO INE,NOMBRE,LISTA,FECHA POSESIÓN,FECHA BAJA,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDALUCIA,ALMERIA,ABLA,40010,"HERRERIAS HERRERIAS, ANTONIO",AP,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDALUCIA,ALMERIA,ABRUCENA,40025,"TORRES RUIZ, LUCAS",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDALUCIA,ALMERIA,ADRA,40031,"ESPINOSA TOLEDANO, AGUSTIN",IND,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDALUCIA,ALMERIA,ALBANCHEZ,40046,"MARTINEZ GARCIA, FRANCISCO",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8277,VALENCIA,VALENCIA,XERESA,461461,"MOSCARDO MSACARELL, ANTONIO VICENTE",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8278,VALENCIA,VALENCIA,XIRIVELLA,461108,"TERUEL MORALES, JUAN JOSE",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8279,VALENCIA,VALENCIA,YATOVA,462613,"PERELLO MOSSI, SILVINO",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8280,VALENCIA,VALENCIA,YESA (LA),462628,"JORDAN MUÑOZ, DOMINGO",AP,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8281,VALENCIA,VALENCIA,ZARRA,462634,"RUBIO NAVARRO, JUAN JOSE",PSOE,31958,NaN,NaN,NaN,NaN,NaN,NaN,NaN