# T3.2 Analizar e visualizar estatísticas de datos baixados de MongoDB
## Conexión a MongoDB dende Python e análise de datos

En Atlas mete o dataset de exemplo na túa base de datos.

Engade o enderezo IP autorizado a conectar para que poidas conectar á base de datos.

Proba a conectar dende compass coa URL de conexión que che da.

Da BBDD de proba: sample_mfix, na colección movies: https://www.mongodb.com/docs/atlas/sample-data/sample-mflix/

In [7]:
#import sqlalchemy
from sqlalchemy.engine import create_engine
from sqlalchemy import text

import psycopg2

from pymongo import MongoClient

import pandas as pd

Conecta a Atlas dende Python, carga a colección en Pandas. Averigua o modo máis adecuado.

In [ ]:
# Conectar a MongoDB
cli_mongo = MongoClient(f"mongodb+srv://USUARIO:CONTRASEÑA@cluster0.t1nug.mongodb.net/")

# Seleccionamos la base de datos y la colección
db = cli_mongo['sample_mflix']
collection = db['movies']

# Convertimos la colección a un DataFrame de Pandas
df = pd.DataFrame(list(collection.find()))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21349 entries, 0 to 21348
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 21349 non-null  object
 1   plot                20203 non-null  object
 2   genres              21237 non-null  object
 3   runtime             20910 non-null  float64
 4   cast                20987 non-null  object
 5   poster              18044 non-null  object
 6   title               21349 non-null  object
 7   fullplot            19852 non-null  object
 8   languages           21119 non-null  object
 9   released            20878 non-null  datetime64[ns]
 10  directors           21107 non-null  object
 11  rated               11455 non-null  object
 12  awards              21349 non-null  object
 13  lastupdated         21349 non-null  object
 14  year                21349 non-null  object
 15  imdb                21349 non-null  object
 16  countries           21339 non-null  object
 17  type                21349 non-null  object
 18  tomatoes            18588 non-null  object
 19  num_mflix_comments  21349 non-null  int64
 20  writers             20256 non-null  object
 21  metacritic          6964 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(18)
memory usage: 3.6+ MB

In [10]:
df.head(2)

,_id,plot,genres,runtime,cast,poster,title,fullplot,languages,released,...,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,writers,metacritic
0,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,"[Short, Western]",11.0,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,The Great Train Robbery,Among the earliest existing films in American ...,[English],1903-12-01,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",0,NaN,NaN
1,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",NaN,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[English],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",1,NaN,NaN

A) Contar o total de películas.

In [11]:
df['title'].nunique()

19744

B) Contar o número de películas de cada xénero.

In [12]:
df['genres'].explode().value_counts()

genres
Drama          12385
Comedy          6532
Romance         3318
Crime           2457
Thriller        2454
Action          2381
Adventure       1900
Documentary     1834
Horror          1470
Biography       1269
Family          1249
Mystery         1139
Fantasy         1055
Sci-Fi           958
Animation        912
History          874
Music            780
War              699
Short            442
Musical          440
Sport            366
Western          242
Film-Noir         77
News              44
Talk-Show          1
Name: count, dtype: int64

C) Contar cantas películas hai por ano.

In [13]:
# Hay peliculas que tienen el año mal establecido del tipo(1864é), dando lugar a errores
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')

df['year'].value_counts().sort_values()

year
2016       1
1903       1
1909       1
1913       1
1918       1
        ...
2011     893
2009     917
2012     955
2014    1073
2013    1105
Name: count, Length: 108, dtype: Int64

D) Mirar se hai correlación entre imdb e rotten tomatoes.

In [14]:
# Extraer las calificaciones numéricas de imdb y tomatoes, extrayendo los valores de la lista
df['imdb_rating'] = pd.to_numeric(df['imdb'].apply(lambda x: x.get('rating') if isinstance(x, dict) else None), errors='coerce')
df['tomatoes_rating'] = pd.to_numeric(df['tomatoes'].apply(lambda x: x.get('viewer', {}).get('rating') if isinstance(x, dict) else None), errors='coerce')

# Calcular las correlaciones usando diferentes métodos
correlation_pearson = df[['imdb_rating', 'tomatoes_rating']].corr(method='pearson')
correlation_kendall = df[['imdb_rating', 'tomatoes_rating']].corr(method='kendall')
correlation_spearman = df[['imdb_rating', 'tomatoes_rating']].corr(method='spearman')

# Mostrar las correlaciones
print("Correlación Pearson:")
print(correlation_pearson)
print("\nCorrelación Kendall:")
print(correlation_kendall)
print("\nCorrelación Spearman:")
print(correlation_spearman)

Correlación Pearson:
                 imdb_rating  tomatoes_rating
imdb_rating         1.000000         0.405018
tomatoes_rating     0.405018         1.000000

Correlación Kendall:
                 imdb_rating  tomatoes_rating
imdb_rating         1.000000         0.530885
tomatoes_rating     0.530885         1.000000

Correlación Spearman:
                 imdb_rating  tomatoes_rating
imdb_rating         1.000000         0.666109
tomatoes_rating     0.666109         1.000000

E) Contar cantas películas ten cada director

In [15]:
df['directors'].explode().value_counts()

directors
Woody Allen         40
Martin Scorsese     32
Takashi Miike       31
Sidney Lumet        29
Steven Spielberg    29
                    ..
Cècile Telerman      1
Jeeva                1
Larry Bishop         1
Diane Bertrand       1
Marcin Koszalka      1
Name: count, Length: 10843, dtype: int64

F) Contar en cantas películas ten participado cada actor

In [16]:
df['cast'].explode().value_counts()

cast
Gèrard Depardieu        67
Robert De Niro          58
Michael Caine           51
Bruce Willis            49
Samuel L. Jackson       48
                        ..
Margrèt èkadèttir        1
Sibylle Canonica         1
Stefanie von Pfetten     1
Stellina Rusich          1
Chantal Akerman          1
Name: count, Length: 38636, dtype: int64

G) Contar cantas películas hai de cada idioma

In [17]:
df['languages'].explode().value_counts()

languages
English      14639
French        2405
Spanish       1600
German        1377
Italian       1228
             ...
Quenya           1
Uighur           1
Visayan          1
Kabyle           1
Purepecha        1
Name: count, Length: 231, dtype: int64

H) Cal é a media de premios das películas

In [18]:
df['awards'].apply(lambda x: int(x.get('wins', 0)) if isinstance(x, dict) else 0).mean()

4.063047449529252

J) Amosar as películas que teñen alomenos 3 premios

In [19]:
df[df['awards'].apply(lambda x: int(x.get('wins', 0)) if isinstance(x, dict) else 0) >= 3]

,_id,plot,genres,runtime,cast,poster,title,fullplot,languages,released,...,year,imdb,countries,type,tomatoes,num_mflix_comments,writers,metacritic,imdb_rating,tomatoes_rating
44,573a1391f29313caabcd883d,A film about the French Field Marshal's youth ...,"[Biography, Drama, History]",240.0,"[Albert Dieudonnè, Vladimir Roudenko, Edmond V...",https://m.media-amazon.com/images/M/MV5BOGY4M2...,Napoleon,"A massive six-hour biopic of Napoleon, tracing...",NaN,1929-02-17,...,1927,"{'rating': 7.4, 'votes': 5064, 'id': 18192}",[France],movie,"{'viewer': {'rating': 4.3, 'numReviews': 1543,...",0,[Abel Gance],NaN,7.4,4.3
46,573a1391f29313caabcd89aa,"Two young men, one rich, one middle class, who...","[Drama, Romance, War]",144.0,"[Clara Bow, Charles 'Buddy' Rogers, Richard Ar...",https://m.media-amazon.com/images/M/MV5BYTI1Yj...,Wings,Two young men fall in love with the same same ...,[English],1929-01-05,...,1927,"{'rating': 7.8, 'votes': 7196, 'id': 18578}",[USA],movie,"{'viewer': {'rating': 3.8, 'numReviews': 3316,...",1,"[John Monk Saunders (story), Hope Loring (scre...",NaN,7.8,3.8
68,573a1391f29313caabcd93aa,A cabaret singer and a Legionnaire fall in lov...,"[Romance, Drama]",92.0,"[Gary Cooper, Marlene Dietrich, Adolphe Menjou...",https://m.media-amazon.com/images/M/MV5BOWNiYz...,Morocco,The Foreign Legion marches in to Mogador with ...,"[English, French, Spanish, Arabic, Italian]",1930-12-06,...,1930,"{'rating': 7.3, 'votes': 3566, 'id': 21156}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 1303,...",0,"[Jules Furthman (adapted by), Benno Vigny (fro...",NaN,7.3,3.6
69,573a1391f29313caabcd944c,Young Harry is in love and wants to marry an a...,"[Drama, Romance]",76.0,"[Greta Garbo, Lewis Stone, Gavin Gordon, Ellio...",https://m.media-amazon.com/images/M/MV5BYTc4Yj...,Romance,Young Harry is in love and wants to marry an a...,[English],1930-08-26,...,1930,"{'rating': 6.0, 'votes': 379, 'id': 21310}",[USA],movie,"{'viewer': {'rating': 3.5, 'numReviews': 191, ...",0,"[Edward Sheldon (from the play by), Bess Mered...",NaN,6.0,3.5
74,573a1391f29313caabcd95f6,A newspaper editor settles in an Oklahoma boom...,"[Drama, Western]",123.0,"[Richard Dix, Irene Dunne, Estelle Taylor, Nan...",https://m.media-amazon.com/images/M/MV5BMjExOD...,Cimarron,When the government opens up the Oklahoma terr...,"[English, French]",1931-02-09,...,1931,"{'rating': 6.0, 'votes': 3310, 'id': 21746}",[USA],movie,"{'viewer': {'rating': 2.8, 'numReviews': 1422,...",1,"[Edna Ferber (novel), Howard Estabrook (screen...",NaN,6.0,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21304,573a13f8f29313caabde8161,NaN,NaN,120.0,"[Aharon Traitel, Khalifa Natour, Riki Blich, G...",NaN,Tikkun,NaN,"[Hebrew, Yiddish]",2015-07-10,...,2015,"{'rating': 7.0, 'votes': 23, 'id': 4482858}",[Israel],movie,NaN,0,NaN,NaN,7.0,NaN
21317,573a13f9f29313caabdea63e,"Three different love stories, set in three con...",[Drama],123.0,"[Tihana Lazovic, Goran Markovic, Nives Ivankov...",https://m.media-amazon.com/images/M/MV5BMTQ4ND...,The High Sun,"Three different love stories, set in three con...",[Croatian],2015-05-17,...,2015,"{'rating': 7.8, 'votes': 161, 'id': 4593108}","[Croatia, Serbia, Slovenia]",movie,NaN,0,[Dalibor Matanic],NaN,7.8,NaN
21330,573a13f9f29313caabdeb320,For anyone who has not fully understood the co...,"[Documentary, News]",60.0,"[John Barrett, Andreas M. Antonopoulos, Jeffre...",https://m.media-amazon.com/images/M/MV5BNjU3MT...,Bitcoin: The End of Money as We Know It,Bitcoin: The End Of Money As We Know It traces...,[English],2015-07-01,...,2015,"{'rating': 7.1, 'votes': 210, 'id': 4654844}","[Australia, Canada, USA, UK]",movie,NaN,0,[Torsten Hoffmann],NaN,7.1,NaN
21331,573a13f9f29313caabdeb527,"After having left a long time ago, a humble co...",[Drama],97.0,"[Josè Felipe Cèrdenas, Haimer Leal, Edison Rai...",https://m.media-amazon.com/images/M/MV5BMTUwZT...,Land and Shade,"After having left a long time ago, a humble co...",[Spanish],2016-01-27,...,2015,"{'rating': 7.6, 'votes': 215, 'id': 4663992}","[Colombia, France, Netherlands, Chile, Brazil]",movie,NaN,0,[Cèsar Augusto Acevedo],NaN,7.6,NaN
21340,573a13faf29313caabdec74f,NaN,[Drama],104.0,"[Val Maloku, Astrit Kabashi, Adriana Matoshi, ...",NaN,Babai,NaN,[Albanian],2015-06-28,...,2015,"{'rating': 7.0, 'votes': 23, 'id': 4741170}","[Germany, Kosovo, Republic of Macedonia, France]",movie,NaN,0,[Visar Morina],NaN,7.0,NaN

K) Contar as películas por país

In [20]:
df['countries'].explode().value_counts()

countries
USA                    10921
UK                      2652
France                  2647
Germany                 1494
Canada                  1260
                       ...
Zaire                      1
Trinidad and Tobago        1
Martinique                 1
Faroe Islands              1
Vanuatu                    1
Name: count, Length: 158, dtype: int64