#### Importamos a libraría

In [1]:
import pyodbc

#### Datos de conexión

In [8]:
DB_HOST = '127.0.0.1,1433'
DB_NAME = 'employees'
DB_USER = 'sa'
DB_PASSWORD = 'Abc12300'

#### Establecemos a conexión

Primeiro creamos a cadea de conexión e logo chamamos ao método connect.

In [9]:
connectionString = f'''DRIVER={{ODBC Driver 18 for SQL Server}};
SERVER={DB_HOST};DATABASE={DB_NAME};
UID={DB_USER};PWD={DB_PASSWORD};
Encrypt=Yes;TrustServerCertificate=Yes'''

conexion = pyodbc.connect(connectionString)

#### Executando unha query de lectura

In [10]:
SQL_QUERY = """
SELECT 
nome, apelidos, dni
FROM
empregado
"""

#Creamos un cursos para logo acceder aos resultados
cursor = conexion.cursor()

#Finalmente executamos a consulta
cursor.execute(SQL_QUERY)

tuplas = cursor.fetchall()
for tupla in tuplas:
    print(f"{tupla.apelidos}, {tupla.nome} \t - \t {tupla.dni}")

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'empregado'. (208) (SQLExecDirectW)")

#### Insertando unha fila

O seguinte modo de consulta, facemos un un prepare statement ou consulta parametrizada para previr o SQL Injection. Os ? substituímolos por variables e executamos esa consulta.

In [ ]:
SQL_PREPARED_STATEMENT = """
INSERT INTO empregado(nome, apelidos, dni, data_creacion)
VALUES (?,?,?, CURRENT_TIMESTAMP)
"""
sufixo="1"

cursor.execute(
    SQL_PREPARED_STATEMENT,
    f'nome_{sufixo}', 
    f'apelidos_{sufixo}', 
    '12345678A')

# Obtemos o id de resultado, para ver se todo está correcto
id_resultado = cursor.fetchval()
print(id_resultado)

# Debemos confirmar cun commit a transacción:
conexion.commit()
# conexion.rollback()

#Pechar o cursor e a conexión
cursor.close()
conexion.close()

#### Xuntalo con PANDAS é moi simple

In [ ]:
import pandas as pd

query_for_pandas="SELECT * FROM empregado"
conexion_p = pyodbc.connect(connectionString)
df = pd.read_sql_query(query_for_pandas, conexion_p)

conexion_p.close()

df