# T2.1: Exercicio CSV con PANDAS

**Contesta**:

1) Diferencias entre merge(), join() e concat. Pista: <https://realpython.com/pandas-merge-join-and-concat/>.

    a) Merge: 

2) Se tes unha táboa cliente e factura de modo que un cliente pode ter N facturas e unha factura pertence a un só cliente. Que tipo de Join debes aplicar para obter a listaxe de facturas cos seus clientes cada unha (left join, right join, outer join, inner join, full, left outer...).

Práctica de lectura de arquivos CSV e conversión. Terás que completar o seguinte código de exemplo onde corresponda.

Utiliza como dataset os arquivos CSV dos centros educativos en Galicia: <https://www.edu.xunta.gal/centroseducativos/>

Importar a libraría **pandas** (lembra instalala con conda se non a tes: `conda install pandas`)

In [ ]:
import pandas as pd
import os
import tempfile

Ler ficheiro CSV e gardalo un dataframe:

In [17]:
#coruna_df = pd.read_csv("X:\usuario\datasets\edu\coruna.csv")


ruta = "./csvs/"
provList=["Coruna","Lugo","Ourense","Pontevedra"]
df = pd.DataFrame()

df = pd.concat([pd.read_csv(f"{ruta}{prov}.csv") for prov in provList], ignore_index=True)

**Completa**:

In [ ]:
#lugo_df =
#ourense_df =
#pontevedra_df =

**Completa**: Carga o resto de dataframes e gárdao na variable df: <https://realpython.com/pandas-merge-join-and-concat/>

In [ ]:
#df=

Amosar o dataframe

In [18]:
df

,Código,Nome,Enderezo,Concello,Provincia,Cód. postal,Teléfono,Tipo de centro,COORDENADA_X,COORDENADA_Y,TITULARIDADE,ENSINO_CONCERTADO,DEPENDENTE
0,15000016,CEIP Plurilingüe San Marcos,Campo da Feira s/n,Abegondo,A Coruña,15318.0,881880201,CEIP,43.229183,-8.286580,Pública,Non,Si
1,15000107,CEIP A Maía,"Rúa Peregrina, s/n (Bertamiráns)",Ames,A Coruña,15220.0,881866002,CEIP,42.867485,-8.657342,Pública,Non,Si
2,15000132,CPR Plurilingüe Alca,Lugar Biduído de Arriba 36,Ames,A Coruña,15895.0,981531103,CPR,42.846325,-8.600729,Privada,Si,Non
3,15000338,CPI As Mirandas,Avenida Celso Emilio Ferreiro 4,Ares,A Coruña,15624.0,881930020,CPI,43.429363,-8.246173,Pública,Non,Si
4,15000363,CEIP Ponte dos Brozos,"Avenida Arsenio Iglesias, 34 (Sabon)",Arteixo,A Coruña,15142.0,881960506,CEIP,43.306938,-8.510333,Pública,Non,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1634,27020999,CPR A Mariña,Avenida Arcadio Pardiñas 44,Burela,Lugo,27880.0,NaN,CPR,-7.362738,43.660879,Privada,Non,Non
1635,27021001,CPR Fundación Laboral de la Construcción,Lugar San Xoán do Alto s/n,Lugo,Lugo,27232.0,982254578,CPR,42.984692,-7.590075,Privada,Non,Non
1636,27021013,CEMU Profesional Terra Chá,Rúa José María Fernández Piñeiro s/n,Begonte,Lugo,27371.0,NaN,CEMU,-7.622140,43.120527,Privada,Non,Non
1637,27021025,CPR Estudios Rafer,Rúa Pena do Rei 4 baixo,Lugo,Lugo,27002.0,NaN,CPR,-7.550368,43.004754,Privada,Non,Non
1638,27601509,EPAPU Albeiros,Parque da Milagrosa s/n,Lugo,Lugo,27003.0,982828106,EPAPU,43.022408,-7.562322,Pública,Non,Si

Amosar as primeiras filas do dataframe (cabeceira)

In [19]:
df.head()

,Código,Nome,Enderezo,Concello,Provincia,Cód. postal,Teléfono,Tipo de centro,COORDENADA_X,COORDENADA_Y,TITULARIDADE,ENSINO_CONCERTADO,DEPENDENTE
0,15000016,CEIP Plurilingüe San Marcos,Campo da Feira s/n,Abegondo,A Coruña,15318.0,881880201,CEIP,43.229183,-8.286580,Pública,Non,Si
1,15000107,CEIP A Maía,"Rúa Peregrina, s/n (Bertamiráns)",Ames,A Coruña,15220.0,881866002,CEIP,42.867485,-8.657342,Pública,Non,Si
2,15000132,CPR Plurilingüe Alca,Lugar Biduído de Arriba 36,Ames,A Coruña,15895.0,981531103,CPR,42.846325,-8.600729,Privada,Si,Non
3,15000338,CPI As Mirandas,Avenida Celso Emilio Ferreiro 4,Ares,A Coruña,15624.0,881930020,CPI,43.429363,-8.246173,Pública,Non,Si
4,15000363,CEIP Ponte dos Brozos,"Avenida Arsenio Iglesias, 34 (Sabon)",Arteixo,A Coruña,15142.0,881960506,CEIP,43.306938,-8.510333,Pública,Non,Si

Amosar as últimas filas do dataframe

In [20]:
df.tail()

,Código,Nome,Enderezo,Concello,Provincia,Cód. postal,Teléfono,Tipo de centro,COORDENADA_X,COORDENADA_Y,TITULARIDADE,ENSINO_CONCERTADO,DEPENDENTE
1634,27020999,CPR A Mariña,Avenida Arcadio Pardiñas 44,Burela,Lugo,27880.0,NaN,CPR,-7.362738,43.660879,Privada,Non,Non
1635,27021001,CPR Fundación Laboral de la Construcción,Lugar San Xoán do Alto s/n,Lugo,Lugo,27232.0,982254578,CPR,42.984692,-7.590075,Privada,Non,Non
1636,27021013,CEMU Profesional Terra Chá,Rúa José María Fernández Piñeiro s/n,Begonte,Lugo,27371.0,NaN,CEMU,-7.622140,43.120527,Privada,Non,Non
1637,27021025,CPR Estudios Rafer,Rúa Pena do Rei 4 baixo,Lugo,Lugo,27002.0,NaN,CPR,-7.550368,43.004754,Privada,Non,Non
1638,27601509,EPAPU Albeiros,Parque da Milagrosa s/n,Lugo,Lugo,27003.0,982828106,EPAPU,43.022408,-7.562322,Pública,Non,Si

Amosar a "forma" ou dimensións do dataframe (filas e columnas)

In [6]:
df.shape

(1639, 13)

Amosar algunhas estatísticas por defecto

In [7]:
df.describe()

             Código   Cód. postal  COORDENADA_X  COORDENADA_Y
count  1.639000e+03   1638.000000   1639.000000   1639.000000
mean   2.657808e+07  27002.887668     35.389385     -1.328620
std    9.286126e+06   9304.941902     17.912679     17.482579
min    1.500002e+07  15001.000000    -13.488744     -9.269669
25%    1.502641e+07  15701.000000     42.208084     -8.689238
50%    2.702094e+07  27875.000000     42.515938     -8.400874
75%    3.601115e+07  36214.000000     43.021791     -7.566911
max    3.602527e+07  36995.000000     43.738419     43.741764

In [ ]:
# seleccionar a columna de "concello" como serie
df['Concello']

# mostrar o tipo de selección
type(df['Concello'])

# Outro xeito de seleccionar series
df.TITULARIDADE

# mostrar o tipo de selección
type(df.Concello)

#seleccionar a columna de "Nome" como Dataframe
df[['Nome']]

# mostrar o tipo de selección
type(df[['Nome']])

# seleccionar varias columnas "Código" e "Nome"
df[['Código','Nome']]

# Mirar o tipo do resultado
type(df[['Código','Nome']])

# Mirar o tipo do argumento que lle pasas a df para facer a selección ['elemento1','elemento2']
type(['Código','Nome'])

list

A completar tamén:

In [42]:
# A resolver, pista: <https://www.geeksforgeeks.org/selecting-rows-in-pandas-dataframe-based-on-conditions/>

def ContadorPublico(provincia):
    prov = df[(df['Provincia'] == provincia) & (df['TITULARIDADE'] == "Pública")]
    print(f"Hai {len(prov)} centros públicos en {provincia}")
    prov
# Seleccionar centros que sexan de titularidade privada. Cantos hai?
df[df['TITULARIDADE'] == "Privada"]
# Seleccionar centros que teñan ensinanzas concertados. Cantos hai?
df[df['ENSINO_CONCERTADO'] == "Si"]
# Hai algún centro con ensinanzas concertadas dependente da Consellería?
concDep = df[(df['ENSINO_CONCERTADO'] == "Si") & (df['DEPENDENTE'] == "Si")]
if len(concDep) == 0:
    print("Non hai ningún centro concerdato que sexa dependente")
else:
    print("Si centro/s concerdato que sexa dependente")
# Seleccionar centros de titularidade pública de Coruña. Cantos hai?
ContadorPublico("A Coruña")
# Seleccionar centros de titularidade pública de Lugo. Cantos hai?
ContadorPublico("Lugo")
# Seleccionar centros de titularidade pública de Ourense. Cantos hai?
ContadorPublico("Ourense")
# Seleccionar centros de titularidade pública de Pontevedra. Cantos hai?
ContadorPublico("Pontevedra")
# Seleccionar centros de tipo: CIFP de cada unha das catro provincias. Cantos hai?

# Seleccionar centros de tipo: CPI, CEIP e IES de cada unha das catro provincias. Cantos hai?

# Seleccionar o número de centros por concello.

# Seleccionar o número de centros de cada tipo por concello.

# Limpando datos con erros: Dime qué podes limpar e como nestes datos.

Non hai ningún centro concerdato que sexa dependente
Hai 448 centros públicos en A Coruña
Hai 184 centros públicos en Lugo
Hai 146 centros públicos en Ourense
Hai 428 centros públicos en Pontevedra

Garda o dataframe total resultante nos seguintes formatos (e logo volve abrilo nese formato e mostra a cabeceira):

**CSV**

In [ ]:
arquivo_temporal = os.path.join(tempfile.mktemp())

df.to_csv(arquivo_temporal)

print(arquivo_temporal)

**Excel**

Pasa a formato excel.

**JSON**

Pasa a formato JSON.

(Coidado cos índices se xuntaches os dataframes)

**XML**

Pasa a formato XML:

**PARQUET**

Pasa a formato parquet. Podes precisar as dependencias para **.parquet**: 

    `conda install pyarrow fastparquet´